.search_bar {
    display: flex;
    justify-content: space-between;
    margin: 30px 5px 50px 5px;

    input {
        background-color: transparent;
        border: none;
        border-bottom: solid 1px #1010102c;
        width: 94%;
        border-radius: 0;
        font-size: 14px;
    }

    input:focus, input:hover {
        border: none;
        border-bottom: solid 1px #10101057;
        outline: 0;
        box-shadow: none;
    }

    .search_icon {
        font-size: 19px;
        padding: 10px;
    }

    .add_icon {
        font-size: 18px;
        background-color: blue;
        color: white;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        padding-top: 11px;
        cursor: pointer;
    }
}