.type_selection {
    display: flex;
    cursor: pointer;
    font-size: 24px;
    height: 160px;
    margin: 0 6px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
    justify-content: center;
    align-items: center;
}

.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
}

.dynamic-delete-button:hover {
    color: #777;
}

.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.mobile {

    width: 253px;
    height: 500px;
    margin: 0px auto;
    position: relative;
    background-image: url(/phone.png);
    background-size: cover;

    .screen {
        position: absolute;
        top: 39.7586px;
        left: 13.4828px;
        width: 227.034px;
        height: 404px;
        background-color: white;
    }

    .content {
        position: absolute;
        top: 39.7586px;
        left: 13.4828px;
        width: 227.034px;
        height: 404px;
        transform: scale(1, 1);
        transform-origin: 0px 0px 0px;
        display: flex;
    }
}
