.survey_card {
    margin: 15px 0;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23);
    background: white;

    .survey_image {
        width: 4vw;
        height: 4vw;
        display: inline-block;
        border-radius: 50%;
        margin: 10px 15px;
    }

    .survey_body {
        width: 100%;
        margin: 15px 0 0 25px;
        padding-left: 10px;
    
        .title {
            font-size: 21px;
            color: rgba(0, 0, 0, 0.61);
        }

        .sub_title {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            font-size: 16px;

            * {
                font-size: 15px;
                span {
                    margin-right: 10px;
                }
                i {
                    margin-right: 2px;
                }
            }
        }
    }
}