@import '../../node_modules/antd/dist/antd.css';
@import '../../node_modules/normalize.css/normalize';

@import './components/container';
@import './components/login';
@import './components/newSurvey';

body {
    background-color: #10101010;
}

.loading {
    height: 60vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 72px;
    }
}