@import '../../node_modules/antd/dist/antd.css';
@import '../../node_modules/normalize.css/normalize';

@import './components/container';
@import './components/login';
@import './components/newSurvey';
@import './components/albums';
@import './components/signup';
@import './components/surveys';

body {
    background-color: #10101010;
}

.loading {
    height: 60vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 72px;
    }
}

.page_title {
    font-weight: 600;
    font-size: 36px;
    padding: 0 10px;
    margin: 7px 0;
}

.new-form {
    width: 60%;
    margin: 0 auto;
}